<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bedu.bedushop" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".Producto.MainApp"
        android:allowBackup="true"
        android:icon="@drawable/bedu"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bedu"
        android:supportsRtl="true"
        android:theme="@style/Theme.BEDUSHOP" >
        <activity
            android:name=".shop.listado.DetailActivity"
            android:exported="true" />
        <activity
            android:name=".shop.Shop"
            android:exported="true" />
        <activity
            android:name=".Inicio.Registrar"
            android:exported="true" />
        <activity
            android:name=".Inicio.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>